  <!-- FOOTER -->
    <footer id="main-footer" class="bg-dark">
        <div class="containter">
            <div class="row">
                <div class="col text-center py-4">
                    <h3>Music Note App</h3>
                    <p>Copyright mgamatero &copy; <span id="year"></span></p>
                </div>
            </div>
        </div>
    </footer>

    