<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Music Note App</title>
</head>

<body data-spy="scroll" data-target="#main-nav" id="home">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container">

            <a href="/" class="navbar-brand">Music Note App</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/active" class="nav-link">Active</a>
                    </li>
                    <li class="nav-item">
                        <a href="/archived" class="nav-link">Archived</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>



    <!-- ACTIVE HEADER -->
    <section id="active-header" class="bg-light text-muted pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col text-center py-4">
                    <h1 class="display-3">Active Song Ideas</h1>
                    <div id="addSongIcon" class="btn btn-lg btn-danger bd-example-modal-lg" aria-hidden="true"
                        data-toggle="modal" data-target="#addNewSongModal">Click Here to
                        Add New Song: </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ACTIVE SECTION -->
    <section id="active-section" class="bg-info text-secondary">
        <div class="container">

            <div id="active"></div>


        </div>
    </section>



    <!-- FOOTER -->
    <footer id="main-footer" class="bg-dark">
        <div class="containter">
            <div class="row">
                <div class="col text-center py-4">
                    <h3>Music Note App</h3>
                    <p>Copyright mgamatero &copy; <span id="year"></span></p>
                </div>
            </div>
        </div>
    </footer>




    <!-- Add New Song Modal -->
    <div class="modal modal-fluid fade" id="addNewSongModal" tabindex="-1" role="dialog" aria-labelledby="addNewSongModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewSongModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="addNewSongModalBody">
                    <!-- Add New Song Form goes here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Song Detail Modal -->
    <div class="modal modal-fluid fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title display-4" id="detailsModalHeader"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body detailsModalBody text-left">
                    <!-- Song Details go here -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Update Song Modal -->
    <div class="modal modal-fluid fade" id="updateSongModal" tabindex="-1" role="dialog" aria-labelledby="updateSongModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title display-4" id="updateSongModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left" id="updateSongModalBody">
                    <!-- Update Song Form goes here -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery minified.  From code.jquery.com, not the Bootstrap site!! -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!-- Bootstrap -getbootstrap.com -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {
            //load all songs from db to active id 
            renderSongsToActivePage()


            // Click event that opens Modal to view song details.  
            $(document).on("click", ".detail-btn", function () {
                var id = $(this).attr("_id")
                // console.log(id)
                // console.log('/music/' + id)

                $.get('/music/' + (id)).then((data) => {

                    $('.modal-title').empty()
                    $('.modal-body').empty()


                    $('.modal-title').html(data.text)

                    $('.detailsModalBody').addClass('text-muted')

                    $('.detailsModalBody').append(`Artist: ${data.artist} <br>
                                                        Username: ${data.username} <br>
                                                            Link: <a href=${data.link} target="_blank">${data.link}</a> <br>
                                                            Notes: <br>
                                                            <textarea readonly class="form-control">${data.notes} </textarea><br>`)
                    //Add lyrics from npm
                    $.get('/lyrics/' + data.artist + '/' + data.text).then((songLyrics) => {
                        $('.detailsModalBody').append(`<button class = "btn btn-lg btn-success btn-block" data-toggle="collapse" data-target="#lyrics">Click for Lyrics</button>
                        <h5 class="lead collapse p-2 text-bold" id="lyrics">${songLyrics}</h5>`)
                    })
                })
            })



            //Click event that updates the song.  This button is within the Update Modal 
            $(document).on("click", ".update-btn", function () {
                var id = $(this).attr("_id-update")

                console.log('/music/update/' + id)
                $.get('/music/' + id).then((data) => {
                    renderUpdateSongModal(data)
                })

                $(document).on("click", "#submit-update-btn", () => {
                    event.preventDefault();
                    var updatedObj = {
                        text: $('#songNameUpdate').val().trim(),
                        username: $('#userNameUpdate').val().trim(),
                        artist: $('#artistUpdate').val().trim(),
                        link: $('#linkUpdate').val().trim(),
                        notes: $('#notesUpdate').val().trim()
                    }
                    console.log("Obj to update - " + JSON.stringify(updatedObj));

                    $.post('/music/update/' + id, updatedObj).then((data) => {
                        alert("Song updated!")
                        renderSongsToActivePage()
                    })
                    $('#updateSongModal').modal('hide')

                })


            })

            //Click event that deletes a song.
            $(document).on('click', '.delete-btn', function () {
                var id_delete = $(this).attr("_id-delete")


                //THIS IS A DELETE?!?! .delete not recognized, used POST INSTEAD?
                $.post('/music/delete/' + (id_delete)).then((data) => {
                    alert("Song deleted!")
                    renderSongsToActivePage()
                })

            })

            //Mark as Complete - Moves to archives section
            $(document).on('click', '.complete-btn', function () {
                var id_complete = $(this).attr("_id-complete")
                $.post('/music/complete/' + (id_complete)).then((data) => {
                    alert("Song marked as completed.  Please look in Archived section to view song details")
                    renderSongsToActivePage()
                })
            })


            //Start Modal to Add a New Song
            $(document).on("click touchstart", "#addSongIcon", function () {
                renderAddNewSongModal()
            })

            //Click event to add new song to DB.  Occurs within AddNewSongModal
            $(document).on('click', '#submitBtnSong', () => {
                event.preventDefault();
                var newSongObj = {
                    text: $('#songNameInput').val().trim(),
                    username: $('#userNameInput').val().trim(),
                    artist: $('#artistInput').val().trim(),
                    link: $('#linkInput').val().trim(),
                    notes: $('#notesInput').val().trim()
                }


                $.post('/music', newSongObj).then((r) => {
                    alert(JSON.stringify(r.text) + " added to Active songs!")
                    renderSongsToActivePage()
                })
                $('#addNewSongModal').modal('hide')
            })


            // **************FUNCTION DECLARATIONS********************

            // Function that gets all of the active songs from DB.  Rendered to /Active
            function renderSongsToActivePage() {
                $.get('/music').then((data) => {
                    $('#active').empty()
                    for (var i = 0; i < data.length; i++) {
                        $('#active').append(`<div class = "card m-3 activeSong">` +
                            '<h4 class= "display-4 card-header activeSong-header text-light"><strong>"' + data[i].text + '"</strong> <small>by </small><strong>' + data[i].artist + '</strong></h4>' +
                            '<div class= "card-body">' +
                            '<h4 class= "card-text activeSong-text form-group"> Username: ' + data[i].username + '<br>' +
                            'Link: <small>' + data[i].link + '</small><br>' +
                            'Notes: <br> <textarea readonly class="form-control">' + data[i].notes + '</textarea> <br>' +

                            'Completed: ' + data[i].completed + '</h4>' +
                            `<button type="button" _id = ${data[i]._id} class=" detail-btn btn btn-primary bd-example-modal-lg m-3" data-toggle="modal" data-target="#detailsModal">` +
                            'Details</button>' +
                            `<button type="button" _id-update = ${data[i]._id} class=" update-btn btn btn-warning bd-example-modal-lg m-3" data-toggle="modal" data-target="#updateSongModal">` +
                            'Update</button>' +
                            `<button type="button" _id-delete = ${data[i]._id} class=" delete-btn btn btn-danger m-3">` +
                            'Delete</button>' +
                            `<button type="button" _id-complete = ${data[i]._id} class=" complete-btn btn btn-success m-3">` +
                            'Mark as Complete</button>' +
                            '</div>')
                    }
                })
            }


            // Function that opens Modal to add new songs    
            function renderAddNewSongModal() {
                $('#addNewSongModalLabel').empty();
                $('#addNewSongModalLabel').append(`Enter New Song Idea`);

                $('#addNewSongModalBody').empty();
                $('#addNewSongModalBody').append(`
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Song name (required)" id="songNameInput" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Artist" id="artistInput">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Username (required)" id="userNameInput" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Link" id="linkInput">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="4" placeholder="Notes" id="notesInput"></textarea>
                        </div>
                            <input type="submit" value="Submit" class="btn btn-block" id="submitBtnSong">
                    </form>
                    `);
            }



            // Function that opens Modal to update the songs  
            function renderUpdateSongModal(info) {
                $('#updateSongModalLabel').empty();
                $('#updateSongModalLabel').append(`Update`);

                $('#updateSongModalBody').empty();
                $('#updateSongModalBody').append(`
                    <form>
                        <div class="form-group">
                            <label for="songNameUpdate" class="text-muted">Song: </label>
                            <input type="text" class="form-control form-control-lg" placeholder="-- (required)" id="songNameUpdate" value="${info.text}">
                        </div>
                        <div class="form-group">
                            <label for="artistUpdate" class="text-muted">Artist: </label>
                            <input type="text" class="form-control form-control-lg" placeholder="--" id="artistUpdate" value="${info.artist}">
                        </div>
                        <div class="form-group">
                            <label for="userNameUpdate" class="text-muted">Username: </label>
                            <input type="text" class="form-control form-control-lg" placeholder="-- (required)" id="userNameUpdate" value="${info.username}">
                        </div>
                        <div class="form-group">
                            <label for="linkUpdate" class="text-muted">Link: </label>
                            <input type="text" class="form-control form-control-lg" placeholder="--" id="linkUpdate" value="${info.link}">
                        </div>
                        <div class="form-group">
                            <label for="notesUpdate" class="text-muted">Notes: </label>
                            <textarea class="form-control" rows="4" placeholder="--" id="notesUpdate"> ${info.notes}</textarea>
                        </div>
                            <input type="submit" value="Submit" class="btn btn-block btn-warning" id="submit-update-btn">
                    </form>
                    `);
            }
        })

        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear())

// <!-- kept for reference only
//         //Init Scrollspy
//         $('body').scrollspy({ target: "#main-nav" })

//         //Smooth Scrolling
//         $("#main-nav a").on('click', function (event) {
//             if (this.hash !== "") {
//                 event.preventDefault();

//                 const hash = this.hash;

//                 $('html,body').animate({
//                     scrollTop: $(hash).offset().top
//                 }, 800, function () {
//                     window.location.hash = hash;
//                 });
//             }
//         }); -->


    </script>
</body>

</html>