<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Music Note App</title>
</head>

<body data-spy="scroll" data-target="#main-nav" id="home">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container">

            <a href="/" class="navbar-brand">Music Note App</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a href="#explore-head-section" class="nav-link">Explore</a> -->
                        <a href="/active" class="nav-link">Active</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a href="#create-head-section" class="nav-link">Create</a> -->
                        <a href="/archived" class="nav-link">Archived</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a href="#share-head-section" class="nav-link">Share</a> -->
                        <a href="#share-head-section" class="nav-link">Share</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- HOME SECTION -->
    <div class="jumbotron">This is the Active Homepage</div>

    </div>
    </div>
    </div>

    </header>





    <!-- RESULTS SECTION -->
    <section id="results-section" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div id="results" class="col-4"></div>
            </div>

        </div>
    </section>


    <!-- FOOTER -->
    <footer id="main-footer" class="bg=dark">
        <div class="containter">
            <div class="row">
                <div class="col text-center py-4">
                    <h3>LoopLAB</h3>
                    <p>Copyright &copy; <span id="year"></span></p>
                    <button class="btn btn-primary" data-toggle="modal1" data-target="#contactModal">Contact Us</button>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery minified.  From code.jquery.com, not the Bootstrap site!! -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!-- Bootstrap -getbootstrap.com -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>

        // $(document).ready(function () {

        //Get the current year for the copyright
        // $('#trymehere').text(new Date().getFullYear())


        $.get('/music').then((data) => {
            for (var i=0;i<data.length;i++){
          
            $('#results').append('<div class = "card">' + 
                                    '<div class= "card-body">' +
                                    '<h4 class= "display-5 card-title">' + data[i].text+ '</h4>' +
                                    '<div class= "card-text">' + data[i].artist+ '<br>' + 
                                        data[i].link+'</div>' +
                                 '</div>')
                        }
                    })





        // })








        //Init Scrollspy
        $('body').scrollspy({ target: "#main-nav" })

        //Smooth Scrolling
        $("#main-nav a").on('click', function (event) {
            if (this.hash !== "") {
                event.preventDefault();

                const hash = this.hash;

                $('html,body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {
                    window.location.hash = hash;
                });
            }
        });

    </script>
</body>

</html>