<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Music Note App</title>
</head>

<body data-spy="scroll" data-target="#main-nav" id="home">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container">

            <a href="/" class="navbar-brand">Music Note App</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a href="#explore-head-section" class="nav-link">Explore</a> -->
                        <a href="/active" class="nav-link">Active</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a href="#create-head-section" class="nav-link">Create</a> -->
                        <a href="/archived" class="nav-link">Archived</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a href="#share-head-section" class="nav-link">Share</a> -->
                        <a href="#share-head-section" class="nav-link">Share</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    </header>



    <!-- ACTIVE HEADER -->
    <section id="active-header" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div class="col text-center py-4">
                    <h1 class="display-3">Active Song Ideas</h1>
                    <i id="addSongIcon" class="fa fa-plus-circle fa-3x text-danger" aria-hidden="true"> Click Here to
                        Add New Song: </i>
                </div>
            </div>
        </div>

        <!-- ACTIVE SECTION -->
        <section id="active-section" class="bg-info text-secondary">
            <div class="container">
                <div class="row">
                    <div id="active"></div>
                </div>

            </div>
        </section>


        <!-- FOOTER -->
        <footer id="main-footer" class="bg-dark">
            <div class="containter">
                <div class="row">
                    <div class="col text-center py-4">
                        <h3>Music Note App</h3>
                        <p>Copyright mgamatero &copy; <span id="year"></span></p>

                    </div>
                </div>
            </div>
        </footer>



        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        HEREHEREHERE
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery minified.  From code.jquery.com, not the Bootstrap site!! -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <!-- Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <!-- Bootstrap -getbootstrap.com -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script>

            $(document).ready(function () {

                //MAIN
                renderSongsToActivePage()


                function renderSongsToActivePage() {
                    $.get('/music').then((data) => {
                        for (var i = 0; i < data.length; i++) {
                            $('#active').append(`<div class = "card m-3 songIdea">` +
                                '<h4 class= "display-4 card-header bg-muted">' + data[i].text + '</h4>' +
                                '<div class= "card-body">' +
                                '<h4 class= "card-text"> Artist: ' + data[i].artist + '<br>' +
                                'Username: ' + data[i].username + '<br>' +
                                'Link: ' + data[i].link + '<br>' +
                                'Notes: ' + data[i].notes + '<br>' +
                                'Media: ' + data[i].media + '<br>' +
                                'Completed: ' + data[i].completed + '</h4>' +
                                'Id: ' + data[i]._id + '</h4>' +
                                `<button type="button" _id = ${data[i]._id} class=" detail-btn btn btn-primary bd-example-modal-lg" data-toggle="modal" data-target="#detailsModal">` +
                                'Details</button>' +
                                '</div>')
                        }
                    })
                }


        
                $(document).on("click", ".detail-btn", function () {
                    var index = $(this).attr("_id")
                    console.log(index)
                    // console.log(index)
                    console.log('/music/'+index)
                    $.get('/music/'+ index).then((data) =>{
                        console.log(data)
                    })                  
                })



               


                // })








                //Init Scrollspy
                $('body').scrollspy({ target: "#main-nav" })

                //Smooth Scrolling
                $("#main-nav a").on('click', function (event) {
                    if (this.hash !== "") {
                        event.preventDefault();

                        const hash = this.hash;

                        $('html,body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800, function () {
                            window.location.hash = hash;
                        });
                    }
                });
            });

        </script>
</body>

</html>