<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Music Note App</title>
</head>

<body data-spy="scroll" data-target="#main-nav" id="home">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container">

            <a href="/" class="navbar-brand">Music Note App</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/active" class="nav-link">Active</a>
                    </li>
                    <li class="nav-item">
                        <a href="/archived" class="nav-link">Archived</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    </header>



    <!-- ARCHIVED HEADER -->
    <section id="archived-header" class="bg-light text-muted pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col text-center py-4">
                    <h1 class="display-3 text-primary" id="archivedHeader">Archived Songs</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- ARCHIVED SECTION -->
    <section id="archived-section" class="bg-info text-secondary">
        <div class="container">
            <!-- <div class="row"> -->
            <div id="archived"></div>
            <!-- </div> -->

        </div>
    </section>


    <!-- FOOTER -->
    <footer id="main-footer" class="bg-dark">
        <div class="containter">
            <div class="row">
                <div class="col text-center py-4">
                    <h3>Music Note App</h3>
                    <p>Copyright mgamatero &copy; <span id="year"></span></p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Archived Song Detail Modal -->
    <div class="modal bd-example-modal-fluid fade" id="archivedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="archivedModalHeader"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body archivedModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery minified.  From code.jquery.com, not the Bootstrap site!! -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!-- Bootstrap -getbootstrap.com -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {

            //MAIN
            renderSongsToArchivedPage()


            function renderSongsToArchivedPage() {
                $.get('/music/archived').then((data) => {
                    $('#archived').empty()
                    for (var i = 0; i < data.length; i++) {
                        $('#archived').append(`<div class = "card m-3 archivedSong">` +
                            '<h4 class= "display-4 card-header archivedSong-header text-light">' + data[i].text + '</h4>' +
                            '<div class= "card-body">' +
                            '<h4 class= "card-text archivedSong-text form-group"> Artist: ' + data[i].artist + '<br>' +
                            'Username: ' + data[i].username + '<br>' +
                            'Link: ' + data[i].link + '<br>' +
                            'Notes: <br> <textarea readonly class="form-control">' + data[i].notes + '</textarea> <br>' +
                            'Media: ' + data[i].media + '<br>' +
                            'Completed: ' + data[i].completed + '</h4>' +
                            `<button type="button" _id = ${data[i]._id} class=" detail-btn btn btn-primary bd-example-modal-lg m-3" data-toggle="modal" data-target="#archivedModal">` +
                            'Details</button>' +
                            `<button type="button" _id-backToActive = ${data[i]._id} class=" backToActive-btn btn btn-success m-3">` +
                            'Send Back to Active</button>' +
                            '</div>')
                    }
                })
            }


            // Click event that opens Modal to view song details.  
            $(document).on("click", ".detail-btn", function () {
                var id = $(this).attr("_id")
                console.log(id)
                // console.log(index)
                console.log('/music/' + id)

                $.get('/music/' + (id)).then((data) => {


                    $('.modal-title').empty()
                    $('.modal-body').empty()


                    $('.modal-title').html(data.text)

                    $('.archivedModalBody').addClass('text-muted')

                    $('.archivedModalBody').append(`Artist: ${data.artist} <br>
                                                        Username: ${data.username} <br>
                                                            Link: <a href="${data.link}" target="_blank">${data.link}</a> <br>
                                                            Notes: <br>
                                                            <textarea readonly class="form-control">${data.notes} </textarea><br>`)
                    //Add lyrics from npm
                    $.get('/lyrics/' + data.artist + '/' + data.text).then((songLyrics) => {
                        $('.archivedModalBody').append(`<button class = "btn btn-lg btn-success btn-block" data-toggle="collapse" data-target="#lyrics">Click for Lyrics</button>
                        <h5 class="lead collapse p-2 text-bold" id="lyrics">${songLyrics}</h5>`)
                    })
                })
            })

            //Click event that marks song as Complete - Moves back to active section
            $(document).on('click', '.backToActive-btn', function () {
                var id_active = $(this).attr("_id-backToActive")
                $.post('/music/activate/' + (id_active)).then((data) => {
                    alert("Song marked as Active.  Please look in Active section to view and update song details")
                    renderSongsToArchivedPage()
                })
            })
        })

        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear())


    //    Not used, keep for reference only
       // //Init Scrollspy
        // $('body').scrollspy({ target: "#main-nav" })

        // //Smooth Scrolling
        // $("#main-nav a").on('click', function (event) {
        //     if (this.hash !== "") {
        //         event.preventDefault();

        //         const hash = this.hash;

        //         $('html,body').animate({
        //             scrollTop: $(hash).offset().top
        //         }, 800, function () {
        //             window.location.hash = hash;
        //         });
        //     }
        // });


    </script>
</body>

</html>