<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <title>Music Note App</title>
</head>

<body data-spy="scroll" data-target="#main-nav" id="home">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container">

            <a href="/" class="navbar-brand">Music Note App</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a href="#explore-head-section" class="nav-link">Explore</a> -->
                        <a href="/active" class="nav-link">Active</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a href="#create-head-section" class="nav-link">Create</a> -->
                        <a href="/archived" class="nav-link">Archived</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <!-- HOME SECTION -->
    <header id="home-section">
        <div class="dark-overlay">
            <div class="home-inner container">
                <div class="row">
                    <div class="d-lg-block d-none">
                        <h1 class="display-4">Organize your <strong>Open Mic</strong> ideas in one app.</h1>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="h4 p-4 align-self-end">
                                Do open mic performance ideas come to you at random times? Are they scribbled in random
                                napkins and notebooks?
                                Only to be lost later?
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="h4 p-4 align-self-end">
                                Do you learn songs only to forget about them later on?
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="h4 p-4 align-self-end">
                                Do you want to keep notes and a progress of songs learned. Also making it easy to
                                remember the actual songs?
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
                
            </div>
        </div>

    </header>

    <!-- EXPLORE HEAD -->

    <section id="explore-head-section">
        <div class="row">
        <div class="container">
            <div class="row">
                <div class="col text-center py-5">
                    <h1 class="display-3">Music Note App</h1>
                    <p class="lead pt-3">An app to track and organize all the performance pieces in your head. </p>
                    <p class="lead">   Leave the organization to us.   </p>
                            <p class="lead">  We'll leave the performance to <strong>you.</strong>  </p>
                    
                    <a href="/active" class="btn btn-outline-secondary">Get Started!</a>
                </div>
            </div>
        </div>

    </section>

    <!-- EXPLORE SECTION -->
    <section id="explore-section" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/explore-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
                </div>
                <div class="col-md-6">
                    <h3>Create, Organize and Perfect</h3>
                    <p>Keep track of your song ideas in our app. Easy to access anytime. </p>
                    <div class="d-flex">
                        <div class="align-self-start p-4">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="align-self-end p-4">
                            Perfect your song ideas.  Utilize our notes section.  Add links, videos.  Add sound files.
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="align-self-start p-4">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="align-self-end p-4">
                            New song ideas are in the Active section by default.  Move them to the Archived section as you feel confident.
                            You are able to move these ideas back and forth.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <!-- CREATE SECTION -->
    <section id="create-section" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-2">
                    <img src="assets/img/create-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
                </div>
                <div class="col-md-6 order-1">
                    <h3>Fulfill Your Passion</h3>
                    <p>Be confident your songs will never be "forgotten".  Pull them up anytime.  Build your song portfolio. </p>
                    <div class="d-flex">
                        <div class="align-self-start p-4">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="align-self-end p-4">
                            Have your list of performance ready songs available anytime, anywhere.  
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="align-self-start p-4">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="align-self-end p-4">
                            Perfect for impromptu performances, and requests.  Build your song portfolio with us.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   
    

    <!-- FOOTER -->
    <footer id="main-footer" class="bg-dark">
        <div class="containter">
            <div class="row">
                <div class="col text-center py-4">
                    <h3>Music Note App</h3>
                    <p>Copyright mgamatero &copy; <span id="year"></span></p>

                </div>
            </div>
        </div>
    </footer>




    <!-- jQuery minified.  From code.jquery.com, not the Bootstrap site!! -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!-- Bootstrap -getbootstrap.com -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>

        

        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear())


      









    </script>
</body>

</html>