body{
  background: #333;
  color:#fff;
  
}

.navbar{
  border-bottom:#008ed6 3px solid;
  opacity:0.8;
}

#home-section {
  background: url("../img/homemic.jpg");
  background-repeat:no-repeat;
  /* background-size:cover; */
  min-height: 500px;
} 

#home-section .dark-overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  min-height:500px;
  background: rgba(0,0,0,0.7);
}

#home-section img{
  width: 100%;
  height:auto;
}

#home-section .home-inner {
  padding-top: 90px;
}

#home-section .card-form{
  opacity: 0.8;
}

#home-section .fas{
  color: #008ed6;
  background:#fff;
  padding: 5px;
  border-radius:5px;

}

#explore-section .fas,#share-section .fas{
  background: #333;
  color:white;
  padding:5px;
  border-radius:5px;
}

#create-section .fas{
  background:#fff;
  color:#008ed6;
  padding:5px;
  border-radius:5px;
}

#main-footer {
  border-top:#008ed6 3px solid;
  opacity:0.8;
 }


#active-section{
  background: url("../img/activecompose.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height: 300px;
}

#archived-section{
  background: url("../img/archivedmic.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height: 300px;
}

.activeSong{
  border: solid 6px rgb(15, 109, 20);
}

.activeSong-header{
  background-color: #888f89;
}

.archivedSong{
  border: solid 6px rgb(22, 106, 145);
}

.archivedSong-header{
  background-color: #040501;
}

#about-section{
  background: url("../img/aboutMartin.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 300px;
  }

#about-section .dark-overlay{
  
  top:0;
  left:0;
  width:100%;
  min-height:300px;
  background: rgba(0,0,0,0.7);
  
}

.modal-header{
  background-color: rgb(161, 165, 161);
}
.modal-title{
  font-stretch: expanded;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 4rem;
}
.modal-body{
  font-stretch: expanded;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  /* max-width: 80%; */
  word-wrap: break-word;
  
  /* margin: auto; */
}

.modal-dialog{
  max-width: 85%;
}

#lyrics{
  white-space: pre-wrap;
}

/* textarea{
      white-space: pre-wrap;
  } */

 
